<p style="text-align: center;"><img src="./i.imgur.com/kcQnBAx.png" style="height: 202px; width: 399px;" /></p>
<p style="text-align: center;"><a href="http://bit.ly/2IpbZT5"><img src="./i.imgur.com/WgKRHZU.png" style="height: 106px; width: 400px;" /></a></p>
<p style="text-align: justify;">Warning, <a href="http://bit.ly/2yIGhu9"><em>proof of time travel</em></a>&nbsp;(and/for the <a href="http://bit.ly/2p6cloN"><em>purpose of Creation</em></a>) subtly exposed in words like the German for &quot;who&quot; above and the <a href="http://bit.ly/2pbWsgU">Hebrew for &quot;fate&quot; ...&nbsp;</a><em><a href="http://bit.ly/2pbWsgU">Kismet</a>.</em>&nbsp; Connecting the&nbsp;<a href="http://bit.ly/2IoQaTL">Christian iconography</a> of Judas and the Greek counterpart of Midas (and the &quot;super S&quot; that completes <em>another <a href="http://bit.ly/2yJzZKJ">verboten verb of J</a></em>); the <em>touch of gold</em> might come from seeing the design of a public display of affection that ties Gene Simmon&#39;s band KISS to The Pretty Reckless in a kind of introduction to &quot;how to write a story about <a href="http://bit.ly/2p0BykJ">ending world hunger&quot; using Gene Roddenberry&#39;s replicators</a> as the suggested solution to why &quot;Santa&#39;s been working on being a&nbsp;<em>berry special&nbsp;</em> Railroad&quot; this year.&nbsp; Jesus, that&#39;s corny.</p>
<p style="text-align: justify;">The story connects through Jim Morrison and <a href="http://bit.ly/2kuke6e">our Doors</a>&nbsp;to <em>Atlantis</em>&nbsp;in &quot;<a href="http://bit.ly/2h2EIhE"><em>Five to One</em>&quot; to a ballroom</a> in the mythologically prophesied city rising <em><a href="http://bit.ly/2IoQcuR">from</a> Paradise Island</em>; to a few songs by Taylor Momsen&#39;s band discussing how someone <a href="http://bit.ly/2kQwXQ3">she&#39;ll apparently enver name</a>&nbsp;is <a href="http://bit.ly/2xXzQY2">Enver</a> going <a href="http://bit.ly/2ibvGUT">to dance with her</a>; and some related pre-existing <a href="http://bit.ly/2pbWx4c">door knocking</a> and &quot;<strong>Who</strong> again? The <em>Cinch</em>.&quot; questioning both <a href="http://bit.ly/2iasIjl">on Gossip Girl</a> and earlier in her Shakespearean story when she played <a href="http://bit.ly/2h1CUWe">Little Cindy-Adam in Dr. Zeus&#39;s Adamvillish&nbsp;story</a> of how <a href="http://bit.ly/2IoQaTL">the Cinch stole Easter</a> this year.</p>
<p style="text-align: justify;">&nbsp;</p>
<p style="text-align: center;"><a href="http://bit.ly/2IpbZT5"><img src="./i.imgur.com/9Vnct6w.png" style="height: 143px; width: 501px;" /></a></p>
<p style="text-align: center;"><img src="./i.imgur.com/SOOjLPa.png" style="height: 262px; width: 300px;" /></p>
<p style="text-align: center;"><a href="http://bit.ly/2iasIjl"><img alt="" src="./i.imgur.com/eJJwyKV.png" /></a></p>
<p style="text-align: justify;">The <em>Spears of Destiny </em>(on <a href="http://bit.ly/2i71aeC"><strong>why</strong></a><em>, <a href="http://bit.ly/2h1xQBj">my loneliness is killing me</a> | or <a href="http://bit.ly/2In7qcd">Lonely</a>&nbsp;| and <a href="http://bit.ly/2ibmyzw">Stronger than Yesterday</a></em>)&nbsp;recent returning to rekindle the fire of even more words about this fateful kiss with her hit &quot;<em><strong>Toxic</strong></em>&quot; pointing out &quot;to kiss, I see...&quot; and remind us all that it&#39;s really only <em>a matter of days</em> before someone grows a brain and breaks the most ntipicated and <a href="http://bit.ly/2h2Da7u">&quot;unsung&quot; story</a> in all of history.</p>
<p style="text-align: justify;">&nbsp;</p>
<p style="text-align: center;"><a href="http://bit.ly/2Ir8NGD"><img alt="" src="./i.imgur.com/K4Gkb9w.png" style="width: 351px; height: 265px;" /></a></p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;"><span style="font-size:22px;"><span style="font-family:georgia,serif;">&quot;can&#39;t you <strong>see</strong>, <em>I&#39;m calling</em>.&quot;</span></span></p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;"><a href="http://bit.ly/2Ir8NGD"><img src="./i.imgur.com/i6WpHqi.png" /></a></p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;"><a href="http://bit.ly/2pd06XJ"><img src="./i.imgur.com/YNON9WH.png" /></a></p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">Have questions or concerns? Input or output? Join the Slack chat network dedicated to solving the worlds Silence problem, with <a href="http://bit.ly/2Irpy4G">this special invitation</a>.</p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;"><a href="http://bit.ly/2gVzkTq"><img src="./i.imgur.com/HDRUj62.png" /></a></p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">No RSVP required.</p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;"><a href="http://bit.ly/2iasIjl"><img src="./i.imgur.com/K0p3gWr.png" /></a></p>
<p style="text-align: center;"><a href="http://bit.ly/2h1CUWe"><img src="./i.imgur.com/mdvzmtR.png" /></a></p>
<p style="text-align: center;"><a href="http://bit.ly/2iblNqb"><img src="./i.imgur.com/d2oEeKI.png" /></a></p>
<p style="text-align: center;"><a href="http://bit.ly/2p6cloN"><img src="./i.imgur.com/z1QictH.png" /></a></p>
<p style="text-align: center;"><a href="http://bit.ly/2ia0F3k"><img src="./i.imgur.com/CSJzuEM.png" style="height: 279px; width: 499px;" /></a></p>
<p style="text-align: center;"><a href="http://bit.ly/2ia0F3k"><img src="./i.imgur.com/ZAoSuXW.png" style="height: 349px; width: 500px;" /></a></p>
<p style="text-align: justify;">&nbsp;</p>
<p style="text-align: justify;">&nbsp;</p>
