<p><a href="http://isome.ga/BERESHIT.html"><em><img style="display: block; margin-left: auto; margin-right: auto;" src="./i.imgur.com/iAFrRVy.png" width="415" height="266" /></em></a><a title="ETERNITY: LATIN, THE MATRIX, ROCK N ROLL; HEYADAM SPANISH." href="http://yeshuare.emplifyhr.com/CONFESSION.html?482E49C28C8629FB"><img style="display: block; margin-left: auto; margin-right: auto;" src="./yeshuare.ermccorp.com/i.imgur.com/A8UVAPE.png" alt="" width="457" height="385" /></a></p>
<p style="text-align: center;"><em>hey.</em></p>
<div style="text-align: center;">&nbsp;</div>
<div>there are three books available, listed here in reverse chronological order; i'm glad you are visiting, if you have any questions you can&nbsp;<a href="./slack.reallyhim.com/index.html">get me on my Slack</a>... "<a href="https://www.youtube.com/watch?v=jFg_8u87zT0">sk nething.</a>"</div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;"><a href="https://www.youtube.com/watch?v=jFg_8u87zT0"><img src="./i.imgur.com/LkHC8sG.png" width="364" height="230" /></a></div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;">i'm bored, and uh,&nbsp;<a href="http://yeshuare.emplifyhr.com/CONFESSION.html">ish</a>-<a href="http://www.unduecoercion.com/2017/08/loch-lives-here-so-does-b-of-bon-jovi.html">bo-sheth</a>.&nbsp; thanks&nbsp;<em>for&nbsp;<a href="http://isome.ga/almost.lamc.la">coming</a>.</em></div>
<div style="text-align: center;"><em>&nbsp;</em></div>
<div style="text-align: center;">
<ol>
<li><em><strong><a href="http://isome.ga/INTRODUCTION.html">SHEOLYIT</a></strong></em></li>
<li><em><strong><a href="http://isome.ga/HYAMDAI.html">ASMODAI</a></strong></em></li>
<li><em><strong><a href="http://isome.ga/NAVIGATION.html">BLOBACK</a></strong></em></li>
</ol>
</div>
<div style="text-align: center;"><em>-<a href="http://hadragonbreath.blogspot.com/2017/09/applegates-and-covenants.html">a</a></em></div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;"><a href="http://isome.ga/sheolyit.pdf"><em><img src="./i.imgur.com/0jRGZ9z.png" alt="SHEOLYIT" width="500" /></em></a></div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;"><a href="http://isome.ga/HYAMDAI.html"><em><img src="./i.imgur.com/uOhb3wt.png" /></em></a></div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;"><a href="http://b.arkho.us/OMEALFHT.html"><em><img src="./i.imgur.com/HFA53lh.png" /></em></a></div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;"><a href="http://isome.ga/antagonizingpainxe.pdf"><em><img src="./i.imgur.com/ruQSUHK.png" alt="Antagonizing Pain" width="500" /></em></a></div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;"><em><a href="http://isome.ga/asmodai.pdf"><img src="./i.imgur.com/6XThBjj.png" alt="ASOMDAI" width="500" /></a></em></div>
<div style="text-align: center;">&nbsp;</div>
<div><a href="http://isome.ga/MEDUSA.html"><em><img style="display: block; margin-left: auto; margin-right: auto;" src="./i.imgur.com/qFJVLqu.png" /></em></a></div>
