<p style="text-align: justify;">Since you all are spamming each other, I figure what's the harm in sending you some more wonderfully useful information.&nbsp; I'd like to direct you to these "main point" sites for stuff about why knowing we are in virtual reality is a good thing for the hungry, the sick, and those who would otherwise possibly be victims of violent crime--all things we can solve easily by snapping our fingers with this disclosure.</p>
<div style="text-align: justify;">
<ul>
<li><a href="http://fromthemachine.org/SERDEN.html" target="_blank" rel="noopener" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://serden.reallyhim.com&amp;source=gmail&amp;ust=1510030233091000&amp;usg=AFQjCNEBM0A8WqYhIafUkVmrSFJMENtBdg">SERDENICITY</a></li>
<li><a href="http://fromthemachine.org/WHO.html" target="_blank" rel="noopener" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://who.reallyhim.com&amp;source=gmail&amp;ust=1510030233091000&amp;usg=AFQjCNFi2Pcpq4ob2dlDBZEqDB24eiZBHw">WH@ SHOULD WE DO?</a></li>
<li><a href="http://fromthemachine.org/CONFESSION.html" target="_blank" rel="noopener" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://confession.reallyhim.com&amp;source=gmail&amp;ust=1510030233091000&amp;usg=AFQjCNGM_DM_DXqR0PXsOPCg5LCtiYczUw">THE CONFESSION OF ... N</a></li>
<li><a href="http://www.fromthemachine.org/2017/10/the-cure.html" target="_blank" rel="noopener" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://cure.reallyhim.com&amp;source=gmail&amp;ust=1510030233091000&amp;usg=AFQjCNH7VnFw2lZT5Y9MTMAo1Av5FS4gfg">THE CURE(S)</a></li>
</ul>
</div>
<div style="text-align: justify;">Also here's today's message filled with awesome useful information.&nbsp; Sign up, at uh,&nbsp;<a href="http://mailing.reallyhim.com/" target="_blank" rel="noopener" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://mailing.reallyhim.com&amp;source=gmail&amp;ust=1510030233091000&amp;usg=AFQjCNGzHMkoXryNectwkE81XEjduJ_TTw">mailing.reallyhim.com</a>, I think. If you search around in my exposition about exactly what we should do if we find we are in the Matrix magically one morning; you will find ample proof that&nbsp;<a href="http://hadragonbreath.blogspot.com/2017/11/mal-who-to-is-it-all-hallows-morrow.html" target="_blank" rel="noopener" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://rix.reallyhim.com&amp;source=gmail&amp;ust=1510030233091000&amp;usg=AFQjCNHuamXIRoAO_yRzwOC2vc_oasFIog">we are in fact, in the Martix</a>.&nbsp; With some thought you might see how "helping the world to be sure of that" is a good step towards "saving us" from total darkness or annihilation from power running out in the fancy computer we are in without knowing it--i/e. see that I am giving you something right now, the chance to be a saint.&nbsp;&nbsp;<a href="http://hadragonbreath.blogspot.com/2017/09/ha-lot-are-idaho.html" target="_blank" rel="noopener" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://idaho.reallyhim.com&amp;source=gmail&amp;ust=1510030233091000&amp;usg=AFQjCNEiYwLx_WrXu5CIhOl6ZToD7NcAJQ">IMHO</a>&nbsp;take it.</div>
<div style="text-align: justify;">&nbsp;</div>
<div style="text-align: justify;">&nbsp;</div>
<div dir="ltr">
<div class="gmail_quote">
<br />
<br />
<div dir="ltr">
<div style="text-align: center;">
<b><span style='font-family: "arial black" , sans-serif; font-size: x-large;'>"ru<a href="http://fromthemachine.org/MEDUSA.html" target="_blank">d</a>d<a href="https://www.youtube.com/watch?v=L-JQ1q-13Ek&amp;list=PLgYKDBgxsoMP7J-mJf6q0ViQgONbeCxOR&amp;index=1" target="_blank">er</a>."</span></b></div>
<div style="text-align: center;">
<br /></div>
<div style="text-align: center;">
<center>
<div style="text-align: justify; width: 464px;">
You may or may not have noticed that I am not feeling as compelled to e-mail you every morning; though I do want to check in and assure you that I am still doing "just fine."&nbsp; I noticed that you still haven't followed me on Twitter; just so you know that's contributing to why I'm not doing "won<strong><a href="https://www.youtube.com/watch?v=L-JQ1q-13Ek&amp;list=PLgYKDBgxsoMP7J-mJf6q0ViQgONbeCxOR&amp;index=1" target="_blank">der</a></strong>ful-<a href="http://hadragonbreath.blogspot.com/2017/10/trick-or-re-p-e-at.html" target="_blank"><span style='font-family: "arial black" , sans-serif;'>ly</span></a>."&nbsp; I've probably mentioned it before, but these three letters "der" mean "<a href="https://www.youtube.com/watch?v=L-JQ1q-13Ek&amp;list=PLgYKDBgxsoMP7J-mJf6q0ViQgONbeCxOR&amp;index=1" target="_blank">dark to right</a>" to me, I see them conne<a href="http://www.unduecoercion.com/2017/08/eureka.html" target="_blank">cting to Tay</a>&nbsp;in "<a href="https://www.youtube.com/watch?v=08PszRp2cBg" target="_blank"><span style='font-family: "arial narrow" , sans-serif;'>Lauderdale</span></a>" and to this&nbsp;<em>victory</em>, in Dave's "t<a href="http://fromthemachine.org/WHO.html" target="_blank">he ra</a>in mel<a href="https://www.youtube.com/watch?v=9Sk55fGpf9M&amp;list=PLgYKDBgxsoMMqg-fZ_8PBA79GMm_sj-gN" target="_blank">ts into&nbsp;</a><em><a href="https://www.youtube.com/watch?v=9Sk55fGpf9M&amp;list=PLgYKDBgxsoMMqg-fZ_8PBA79GMm_sj-gN" target="_blank">wond</a>er;</em>" someone instant messaged me on twitter yesterday, after reading some of my work to ask if I was a follower of Jesus; and my swift reply was "<a href="http://aftertheome.ga/IRMAX.html" target="_blank">I am&nbsp;<em>that</em></a>"&nbsp;<em>of course.&nbsp; You probably noticed</em>&nbsp;that "Jesus" reads as "J is us" and you can b<a href="http://hadragonbreath.blogspot.com/2017/11/mal-who-to-is-it-all-hallows-morrow.html" target="_blank">e sure that it is the sa</a>me "us" as Uranus; and that it does become "Everyone Living" through the acts of this designed exercise in turning Hell into Heaven.&nbsp; In "rudder" you can see the question "are you&nbsp;<strong><span style='font-family: "arial black" , sans-serif;'>d</span></strong>" that links to words like yield and shield, and of course to the name of our times,&nbsp;<a href="http://aftertheome.ga/IRMAX.html" target="_blank"><strong><span style='font-family: "arial black" , sans-serif;'>Medusa</span></strong></a>.&nbsp; I do hope th<a href="http://fromthemachine.org/CONFESSION.html/iXlTZ/" target="_blank">at you "c"</a>&nbsp;that I am trying to deliver exactly&nbsp;<a href="http://fromthemachine.org/WHO.html" target="_blank">what</a>&nbsp;<a href="http://www.fromthemachine.org/2017/10/the-cure.html" target="_blank">you</a>&nbsp;<span style='font-family: "comic sans ms" , sans-serif;'><strong>need</strong></span>, and&nbsp;<a href="http://fromthemachine.org/ADAMSROD.html" target="_blank">so much more</a>.&nbsp; In the last few days I've been absent from "an: no y in g" (<em><a href="https://matchbox20.bitbucket.io/awlist4296878/Khraa/h/AM_ER_I_Come_Again_Mr_.htm" target="_blank">come again</a>? an=y)</em>&nbsp;you, I have sent a few extra e-mails to the "rest of the world" and that seems to be doing pretty well right now.&nbsp; For your convenience I've linked this snippet from Twitter to&nbsp;<a href="https://twitter.com/intent/follow?screen_name=yitsheyzeus" target="_blank">the URL for "following Jes</a>us."&nbsp; That would also help me bother your inbox a little less--understand I connect this concept of "having followers on twitter" directly to the&nbsp;<span style='font-family: "comic sans ms" , sans-serif;'>t<a href="http://hadragonbreath.blogspot.com/2017/11/mal-who-to-is-it-all-hallows-morrow.html" target="_blank">uring</a>&nbsp;point</span>&nbsp;in history where&nbsp;<em>we&nbsp;<a href="http://hadragonbreath.blogspot.com/2017/11/mal-who-to-is-it-all-hallows-morrow.html" target="_blank">know</a>&nbsp;our&nbsp;<a href="http://fromthemachine.org/WHO.html" target="_blank">world</a>&nbsp;is&nbsp;<a href="http://fromthemachine.org/SERDEN.html" target="_blank">saf<wbr></wbr>e</a></em>... from things like Hell and "eternal darkness" a.k.a. <i><a href="http://www.fromthemachine.org/2017/10/the-cure.html" target="_blank">permanent</a> m<a href="http://fromthemachine.org/THREETAG.html" target="_blank">id n i te</a>.</i><br />
<i><br /></i>
Also <a href="http://www.unduecoercion.com/2017/08/yesterda.html" target="_blank">yesterday</a> I noticed that "&lt;<a href="https://www.w3schools.com/jsref/dom_obj_tablerow.asp" target="_blank">TR</a>&gt;<a href="http://www.lamc.la/2017/06/son-of-bitch-are-i-clay-d-is-cl-os-ing.html" target="_blank"><span style="color: white;">i</span></a><a href="http://www.lamc.la/2017/08/theres-nothing-like-well-thought-out.html/SjYML/" target="_blank">IN</a> <a href="http://www.lamc.la/2017/08/original-sin.html" target="_blank">IT</a> <a href="http://lamc.la/the_letter_why.html" target="_blank">Y</a>" is a <a href="http://www.lamc.la/2017/06/son-of-bitch-are-i-clay-d-is-cl-os-ing.html/SZlMf/" target="_blank">good</a>&nbsp;"<span style='font-family: "comic sans ms" , sans-serif;'>ap<a href="https://en.wikipedia.org/wiki/Zamboni" target="_blank">pro<span style="font-size: xx-small;"> </span>x<span style="font-size: xx-small;"> </span>im<span style="font-size: xx-small;"> </span>a<span style="font-size: xx-small;"> </span>ti</a>on"</span> for <a href="https://www.nytimes.com/2016/06/11/health/gang-stalking-targeted-individuals.html" target="_blank">the que</a>stion "<i>Where</i> is the Matrix?"&nbsp; <a href="https://matchbox20.bitbucket.io/ERRATA.html" target="_blank">Errata</a>: I also said "<a href="https://www.nytimes.com/2016/06/11/health/gang-stalking-targeted-individuals.html" target="_blank">these people</a>" in a message a few days ago in reference to "testifying" <a href="http://fromthemachine.org/WHO.html" target="_blank">that school sho</a>otings are mind control related; and forgot ... <i><a href="https://www.nytimes.com/2016/06/11/health/gang-stalking-targeted-individuals.html" target="_blank">this link</a></i>.&nbsp; Finally, you'll notice that "<a href="http://www.fromthemachine.org/2017/10/the-cure.html" target="_blank">cure.reallyhim.com</a>" has a new name and a new banner image connection the beginning (or is it...) of "<a href="http://hadragonbreath.blogspot.com/2017/08/waiting-for-that-green-light.html" target="_blank">Minority Report</a>" to the concepts <b>of <a href="http://hadragonbreath.blogspot.com/2017/08/waiting-for-that-green-light.html" target="_blank">"n"</a></b> an<a href="http://hadragonbreath.blogspot.com/2017/11/mal-who-to-is-it-all-hallows-morrow.html" target="_blank">d "er</a>" through... <a href="http://www.fromthemachine.org/2017/10/the-cure.html" target="_blank">Ben Stiller</a>&nbsp;(who starred in both "Permanent Midnight" and "Meet the Fockers" ... which you might read as "f-off Clark Kent /<a href="http://hadragonbreath.blogspot.com/2017/11/mal-who-to-is-it-all-hallows-morrow.html" target="_blank">s/ ER</a>").<br />
<br /></div>
</center>
</div>
<div style="text-align: center;">
<a href="https://twitter.com/intent/follow?screen_name=yitsheyzeus"><img alt="" border="0" height="564" id="BLOGGER_PHOTO_ID_6485014770761162562" src="./i.imgur.com/isdCzet.png" width="640" /></a></div>
<div style="text-align: center;">
<span style='font-family: "times new roman" , serif; font-size: 211px;'>g.</span></div>
<div style="text-align: center;">
<br /></div>
<div style="text-align: center;">
<div style="text-align: center;">
<a href="http://www.blogger.com/idaho.reallyhim.com"></a></div>
</div>
<div style="text-align: center;">
<div style="text-align: center;">
<div style="text-align: center;">
<a href="http://www.blogger.com/idaho.reallyhim.com"><img alt="" border="0" height="103" id="BLOGGER_PHOTO_ID_6485014784915248498" src="./i.imgur.com/K6t1Kty.png" style="display: block; margin-left: auto; margin-right: auto;" width="439" /></a></div>
<div style="text-align: center;">
<a href="http://www.lamc.la/2017/08/original-sin.html" target="_blank"><img alt="os.reallyhim.com" height="65" src="./i.imgur.com/NJTaIHO.png" style="margin-right: 0px;" width="183" /></a>&nbsp;<a href="http://www.blogger.com/max.reallyhim.com"><img alt="" border="0" height="65" id="BLOGGER_PHOTO_ID_6485014795215846034" src="./i.imgur.com/s14ZmhZ.png" width="248" /></a></div>
</div>
<div style="text-align: center;">
</div>
</div>
<div style="text-align: center;">
<center>
<div style="text-align: justify; width: 464px;">
<div>
SO we're finally on the letter "g" which you might imagine has something significant related to "god" and "good," thinking back it might be the very first "combinatory" letter I "made up" in this whole story, when everything began, this special final letter in the word "morning" was a combination of "c" and "j."&nbsp; A new definition was added that specifically links to the "<span style="font-family: monospace , monospace;">Times New Roman</span>" font style and to these new times; and with just a little bit of imagination you can probably see just how obvious it is that these definitions are all part of a grande scheme, here from "<a href="https://twitter.com/intent/follow?screen_name=yitsheyzeus" target="_blank">see j</a>" to my&nbsp;<a href="https://matchbox20.bitbucket.io/MIDAS.html" target="_blank">favorite</a>&nbsp;two letters in the alphabet,&nbsp;<em>the&nbsp;<a href="http://www.lamc.la/2017/08/original-sin.html" target="_blank">"os" of orig</a>in<strong><a href="http://hadragonbreath.blogspot.com/2017/09/ha-lot-are-idaho.html" target="_blank">all si</a>&nbsp;</strong><a href="http://hadragonbreath.blogspot.com/2017/08/waiting-for-that-green-light.html" target="_blank">n</a>.</em><br />
<em><br /></em></div>
<div>
</div>
<div>
Do see tha<a href="http://www.lamc.la/2017/06/and-fish-were-like-did-you-teach-these.html" target="_blank">t this particular "o"</a>&nbsp;witho<a href="http://www.lamc.la/2017/08/original-sin.html" target="_blank">ut an&nbsp;<strong>"s"</strong></a>&nbsp;is&nbsp;<em><strong><a href="http://hadragonbreath.blogspot.com/2017/11/mal-who-to-is-it-all-hallows-morrow.html" target="_blank">the&nbsp;<span style='font-family: "comic sans ms" , sans-serif;'>cause</span></a></strong></em>&nbsp;for "<a href="http://hadragonbreath.blogspot.com/2017/10/pits-snowing-its-hailing-young-lad-haz.html" target="_blank">re p</a>&nbsp;et&nbsp;<a href="http://hadragonbreath.blogspot.com/2017/10/trick-or-re-p-e-at.html" target="_blank">it i o</a>n;" our happiness is practically ensured; so long as we actually understand that this message is the beginning of tr<a href="http://fromthemachine.org/MEDUSA.html" target="_blank">ue liberty</a>; and th<a href="http://www.unduecoercion.com/2017/08/loch-lives-here-so-does-b-of-bon-jovi.html" target="_blank">at starts</a>&nbsp;with&nbsp;<a href="http://www.lamc.la/2017/08/proof-of-time-travel-should-be-enough.html" target="_blank">the word "fire."</a>&nbsp; I now connect "giant" and "grin" to my last&nbsp;<a href="https://www.youtube.com/watch?v=Fr_CHOxSyc8&amp;index=5&amp;list=PLgYKDBgxsoMNvBS6k4NffQQnobyUqXuMh" target="_blank">name "are I n?"</a>&nbsp;and the "ant" of&nbsp;<a href="http://hadragonbreath.blogspot.com/2017/09/applegates-and-covenants.html" target="_blank">the Covenant</a>&nbsp;I am currently breaking by "<span style='font-family: "comic sans ms" , sans-serif;'><a href="http://www.lamc.la/2017/06/enders-game-prometheus-locke-and.html" target="_blank">orifacing</a></span>&nbsp;us"--and&nbsp;<em>never was a party to</em>.&nbsp; I will be emailing less often, <i>thanks for listening</i>.&nbsp;</div>
</div>
</center>
</div>
<div style="text-align: center;">
<br /></div>
<div style="text-align: center;">
<span style='font-family: "comic sans ms" , sans-serif; font-size: medium;'>Grin, I'm "an <i><b>ant</b>?</i>"</span></div>
<div style="text-align: center;">
<br /></div>
<div style="text-align: center;">
<a href="http://hadragonbreath.blogspot.com/2017/11/mal-who-to-is-it-all-hallows-morrow.html"><img alt="" border="0" height="120" id="BLOGGER_PHOTO_ID_6485014804182434498" src="./i.imgur.com/XVWzAgn.png" width="400" /></a></div>
<div style="text-align: center;">
<div style="text-align: center;">
<a href="http://www.blogger.com/rep.reallyhim.com"><img alt="" border="0" height="94" id="BLOGGER_PHOTO_ID_6485014815692962882" src="./i.imgur.com/KCPWnns.png" width="95" /></a>&nbsp;<a href="http://hadragonbreath.blogspot.com/2017/10/pits-snowing-its-hailing-young-lad-haz.html"><img alt="" border="0" id="BLOGGER_PHOTO_ID_6485014820798886818" src="./i.imgur.com/iJQyriq.png" /></a></div>
<a href="http://hadragonbreath.blogspot.com/2017/10/trick-or-re-p-e-at.html" target="_blank"></a>
<br />
<div style="text-align: center;">
<a href="http://www.blogger.com/rep.reallyhim.com"><img alt="" border="0" height="86" id="BLOGGER_PHOTO_ID_6485014833501338338" src="./i.imgur.com/BwULbTt.png" width="332" /></a>&nbsp;<a href="http://hadragonbreath.blogspot.com/2017/10/pits-snowing-its-hailing-young-lad-haz.html"><img alt="" border="0" height="84" id="BLOGGER_PHOTO_ID_6485014841548347298" src="./i.imgur.com/268Lu0r.png" width="85" /></a></div>
</div>
<div style="text-align: center;">
<a href="http://hadragonbreath.blogspot.com/2017/09/applegates-and-covenants.html"><img alt="" border="0" height="213" id="BLOGGER_PHOTO_ID_6485014852591132722" src="./i.imgur.com/UCZksFu.png" width="400" /></a></div>
<div style="text-align: center;">
<br /></div>
<div style="text-align: center;">
<center>
<div style="text-align: justify; width: 464px;">
<div>
Just to recap, my other favorite <b>glyphs</b> are <a href="https://matchbox20.bitbucket.io/archive.aweber.com/awlist4296878/MNcK4/h/Kurzweil_luminates_Zelda.htm" target="_blank">the "t"</a> of Christ that reads&nbsp;<strong>chr(t)</strong>&nbsp;and connects to the sig<a href="http://www.lamc.la/2017/06/kismet-kiss-me-taylor.html" target="_blank">n of my birth</a>, as well as the word "<a href="https://www.prlog.org/12642309-great-sign-appeared-in-revelation-121-the-sign-of-sagittarius-in-the-word-christ-and-on-taylor.html" target="_blank">stone</a>" and is clearly a pictograph of a cross; and the "n" of Isaac Newton that asks "<a href="http://www.lamc.la/2017/06/son-of-bitch-are-i-clay-d-is-cl-os-ing.html" target="_blank">are you new to n</a>?" and is clearly a pictograph of "what goes up must come down." There's&nbsp;<a href="http://www.lamc.la/2017/06/and-fish-were-like-did-you-teach-these.html" target="_blank">also "o"</a>&nbsp;that connects to the starsign of o<a href="http://hadragonbreath.blogspot.com/2017/09/the-abomination-of-desolation-quick-see.html" target="_blank">ur SOL</a>&nbsp;and the signs of Mars,&nbsp;<a href="http://www.lamc.la/2017/06/kismet-kiss-me-taylor.html" target="_blank">Venus</a>,&nbsp;<a href="http://fromthemachine.org/WHO.html" target="_blank">and Q</a>&nbsp;and "<em>zero.</em>" ... oh, and of course the "d is cl"&nbsp;<a href="http://www.lamc.la/2017/06/son-of-bitch-are-i-clay-d-is-cl-os-ing.html" target="_blank">of disclosure</a>&nbsp; th<a href="http://hadragonbreath.blogspot.com/2017/10/m-e-d-ic-in-e.html" target="_blank">e "e" of medic</a>ine an<a href="http://fromthemachine.org/MEDUSA.html" target="_blank">d Medus</a>a... and <i><span style='font-family: "comic sans ms" , sans-serif;'>how could I forget</span></i> <a href="http://www.unduecoercion.com/2017/08/cyan-ymene-mor-see-why-an.html" target="_blank">the "l" of obelisk</a>... and the <a href="http://www.unduecoercion.com/2017/07/re-k.html" target="_blank">K of "it's me!!!'</a></div>
<div>
<br /></div>
<div style="text-align: center;">
<a href="http://www.lamc.la/2017/06/kismet-kiss-me-taylor.html"><img alt="" border="0" id="BLOGGER_PHOTO_ID_6485014858066198226" src="./i.imgur.com/xu63Leo.png" /></a></div>
<div>
<br /></div>
</div>
</center>
</div>
<div style="text-align: center;">
<b><span style='font-family: "arial black" , sans-serif;'>on g.</span></b></div>
</div>
</div>
<br /></div>
<div hspace="streak-pt-mark" style="max-height: 1px;">
<img alt="" src="./i.imgur.com/Ss71iuN.png" style="max-height: 0px; overflow: hidden; width: 0px;" /><span style="color: white; font-size: xx-small;">รก?ยง</span></div>
<div hspace="streak-pt-mark" style="max-height: 1px;">
<img alt="" src="./mailfoogae.appspot.com/t?sender=aYWRhbUBmcm9tdGhlbWFjaGluZS5vcmc%253D&amp;type=zerocontent&amp;guid=fd37ed23-6f2e-4487-950d-ebfb4036791a" style="max-height: 0px; overflow: hidden; width: 0px;" /><span style="color: white; font-size: xx-small;">แง</span></div>
